input[type="text"].input-box-style::-webkit-input-placeholder {
    color: #194885;
    font-style: italic;
    font-weight: 500;
  }
.input-box-style{
    background:transparent;
    flex: 1;
    width: 100%;         
    color: #194885; 
    font-weight: bold;                 
    border: none;                
    font-style: italic;         
    outline: none;                         
    border-bottom: 1px solid #194885;
  }
  .error-card{
      height: 70vh;
  }
  .card-text.error-msg{
      font-weight: bold;
      font-size: 1.5rem;
  }
  .dropdown-menu.sort-by-style{
    min-width: 100%;
    background: linear-gradient(to top, #D4D3DD, #EFEFBB);
  }
  .item-style{
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 500;
    color:#194885;     
  }
  .btn-secondary.btnstyle{
    width: 100%;
    padding: 0.3rem 1rem;
    font-size: 0.9rem;           
    background: #194885; 
} 

@media screen and (max-width:768px){
  .cln{
      flex-direction:column
  }
  }